
/* Non BootStrap Start Here */

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.01);
    }

    100% {
        transform: scale(1);
    }
}

.pulse {
    margin: 0 10px;
    text-align: center;
    animation: pulse 2s infinite;
}


#alert-container>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#alert-container {
    font-family: "Nunito", sans-serif;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

    transition: opacity 1s;
    opacity: 1;
}

.alert-card {
    position: absolute;
    z-index: 9999;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    padding: 1rem;
    background-color: white;

    max-width: 500px;
    min-height: fit-content;

    /* display: flex; */
    align-items: center;
    top: 5rem;
    /* justify-content: center; */

    border-radius: 0.25rem;
}

.alert-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    position: flex;
    top: 10%;
    margin-bottom: 2rem;
    transform: translateY(-0%);
}

.alert-card-content {
    position: flex;
    top: 50%;
    transform: translateY(-50%);
}

.alert-card-footer {
    position: flex;
    bottom: 5%;
}

.alert-card .btn-close {
    font-size: large;

    background-color: transparent;
    border-color: transparent;
    border-radius: 1rem;
    border-width: 0.02rem;

    padding: 1rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}


/* Alert Types Colors?? */
.alert-primary {
    color: #664009;
    background-color: #ffecd0;
    border-color: #ffe3b9
}

.alert-primary .alert-link {
    color: #523307
}

.alert-secondary {
    color: #41464b;
    background-color: #e2e3e5;
    border-color: #d3d6d8
}

.alert-secondary .alert-link {
    color: #34383c
}

.alert-success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc
}

.alert-success .alert-link {
    color: #0c4128
}

.alert-info {
    color: #055160;
    background-color: #cff4fc;
    border-color: #b6effb
}

.alert-info .alert-link {
    color: #04414d
}

.alert-warning {
    color: #664d03;
    background-color: #fff3cd;
    border-color: #ffecb5
}

.alert-warning .alert-link {
    color: #523e02
}

.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7
}

.alert-danger .alert-link {
    color: #6a1a21
}

.alert-light {
    color: #606366;
    background-color: #fcfeff;
    border-color: #fbfdff
}

.alert-light .alert-link {
    color: #4d4f52
}

.alert-dark {
    color: #090e1a;
    background-color: #cfd1d5;
    border-color: #b7b9bf
}

.alert-dark .alert-link {
    color: #070b15
}

