/*student preferences table time*/
.responsive-table li {
    border-radius: 25px 0;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.responsive-table {
.table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    text-align: center;
}
.table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    text-align: center;
}

@media all and (max-width: 767px) {
    li {
    display: block;
    }
    .col {
    flex-basis: 100%;
    }
    .col {
    display: flex;
    padding: 10px 0;
    &:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
    }
    }
}
}