:root {
    --main-font: 'Nanum Gothic', sans-serif;
}

body {
    overflow: hidden;
}
/* Login Body Start */
.the-login-body {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-image: url(../images/lightouse-photo-compressed.jpg);
    background-color: rgba(41, 41, 41, 0.5);
    filter: blur(5px);
    animation: pulse 5s infinite;
    overflow: hidden;
}

@keyframes pulse {
    0% {
        transform: scale(1.03);
    }

    25% {
        transform: scale(1.013);
    }

    50% {
        transform: scale(1.02);
    }

    75% {
        transform: scale(1.013);
    }

    100% {
        transform: scale(1.03);
    }
}

.shadow-white {
    box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.5);
}
/* Login Body End */

.center {
    justify-content: center;
    align-items: center;
    
}

/* Loading Start */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    opacity: 1;
    transition: opacity 0.5s ease;
}

#loading-screen.fade-out {
    opacity: 0;
}

#welcome-message {
    opacity: 1;
    transition: opacity 0.5s ease;
}

#welcome-message.hide {
    opacity: 0;
}

/* Loading End */