{% extends "../students/student_index.html" %}

{% block navbar %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'student_index' %}">Home</a>
</li>
{% endblock %}

{% block home %}
<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container text-center my-0 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Menu</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center text-uppercase">
                <li class="breadcrumb-item"><a class="text-white" href="{% url 'student_index' %}">Home</a></li>
                <li class="breadcrumb-item"><a class="text-white" href="{% url 'dining_hall' %}">Dining Hall Reservation
                        Page</a></li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Menu</li>
            </ol>
        </nav>
    </div>
</div>
{% endblock %}

{% block template %}

<!-- Menu Start -->
<div class="container-xxl py-5 mt-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Food Menu</h5>
            <h1 class="mb-5">Monthly Menu: A Culinary Delight 🍽️</h1>
        </div>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
            <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill"
                        href="#tab-1">
                        <i class="fa fa-coffee fa-2x text-primary"></i>
                        <div class="ps-3">
                            <small class="text-body">Delectable</small>
                            <h6 class="mt-n1 mb-0">Breakfast</h6>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-2">
                        <i class="fa fa-hamburger fa-2x text-primary"></i>
                        <div class="ps-3">
                            <small class="text-body">Exquisite </small>
                            <h6 class="mt-n1 mb-0">Lunch</h6>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-3">
                        <i class="fa fa-utensils fa-2x text-primary"></i>
                        <div class="ps-3">
                            <small class="text-body">Sumptuous</small>
                            <h6 class="mt-n1 mb-0">Dinner</h6>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="tab-content" value="{{ menu_this_week }}">
                <div id="tab-1" class="tab-pane fade show p-0 active"></div>
                <div id="tab-2" class="tab-pane fade show p-0"></div>
                <div id="tab-3" class="tab-pane fade show p-0"></div>
            </div>
        </div>
    </div>
</div>
<!-- Menu End -->
{% endblock %}

{% block script %}

<script>
    const tabsData = JSON.parse('{{ menu_this_week|safe }}');
    Object.entries(tabsData).forEach(([tabId, menuItems]) => {
        let menuHTML = '<div class="row g-4">';

        menuItems.forEach(item => {
            menuHTML += `
      <div class="col-lg-6">
      <div class="d-flex align-items-center">
      <div class="w-100 d-flex flex-column text-start ps-4">
        <h5 class="d-flex justify-content-between border-bottom pb-2">
          <span>${item.day}</span>
          <span class="${item.status}" >${item.date}</span>
        </h5>
        <small class="fst-italic">${item.description}</small>
      </div>
      </div>
      </div>`;
        });

        menuHTML += '</div>';

        // insert the generated HTML into the corresponding tab element
        document.getElementById(tabId).innerHTML = menuHTML;
    });
</script>
{% endblock %}