{% extends "../students/student_index.html" %}

{% block style %}
{% endblock %}

{% block navbar %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'student_index' %}">Home</a>
</li>
{% endblock %}

{% block home %}
<div class="container-xxl py-5 bg-dark hero-header mb-5">
  <div class="container text-center my-0 pt-5 pb-4">
    <h1 class="display-3 text-white mb-3 animated slideInDown">Booking</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb justify-content-center text-uppercase">
        <li class="breadcrumb-item"><a href="{% url 'student_index' %}">Home</a></li>
        <li class="breadcrumb-item text-white active" aria-current="page">Booking</li>
      </ol>
    </nav>
  </div>
</div>
{% endblock %}

{% block template %}
<div class="container-xxl bg-white p-0" style="max-width: 1320px;">
  <!-- Reservation Start -->
  <h1 class="mb-4 text-center">Order {{session}} for {{day}}, {{date}}</h1>

  <div class="container-xxl py-0 px-0 wow fadeInUp" data-wow-delay="0.1s">
    <div class="row g-0">
      <div class="col-md-6">
        <div class="video">
          <button type="button" class="btn-play" data-bs-toggle="modal"
            data-src="https://www.youtube.com/embed/4nY0yg_yicY" data-bs-target="#videoModal">
            <span></span>
          </button>
        </div>
      </div>
      <div class="col-md-6 bg-dark d-flex align-items-center">
        <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
          {% if can_booking %}
          <h5 class="section-title ff-secondary text-start text-primary fw-normal">Reservation</h5>
          <h1 class="text-white mb-4 text-center">Reserve at {{time_suggested | default_if_none:"-"}} for the Best Dining Experience!          </h1>

          <!-- <h1 class="text-white mb-4 text-center">Recommended time for making a reservation </h1>
          <h1 class="text-white mb-4 text-center"> {{time_suggested | default_if_none:"-" }} </h1> -->
          <form action="confirm" method="POST">
            {% csrf_token %}
            <div class="row g-3">
                <div class="col-12">
                  <input type="hidden" name="time_suggested" value="{{ time_suggested }}">
                  <button class="btn btn-primary w-100 py-3" type="submit" value="yes" name="choice">Reserve Now</button>
                </div>
                <div class="col-12">
                  <button class="btn btn-primary w-100 py-3" type="submit" value="no" name="choice">Choose Another Time</button>
                </div>
            </div>
          </form>
          {% else %}
          
          <h5 class="section-title ff-secondary text-start text-primary fw-normal">Reservation</h5>
          <h1 class="text-white mb-4 text-center">We apologize for any inconvenience, but it appears that you have already reserved {{session}} for {{day}}, {{date}} at {{time_suggested | default_if_none:"-" }}  </h1>
          <p class="breadcrumb-item text-center"><a href="{% url 'cancel_order' %}">Cancel Reservation</a></p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content rounded-0">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- 16:9 aspect ratio -->
          <div class="ratio ratio-16x9">
            <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
              allow="autoplay"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- Reservation Start -->
{% endblock %}