{% extends "../dininghall/dininghall_index.html" %}

{% block title %} Add Session {% endblock %}

<!-- Navbar Start -->
{% block navbar %}
<a class="nav-link" href="{% url 'dininghall_index' %}">Home</a>
<a class="nav-link active" href="{% url 'add_menu' %}">Add Menu</a>
<a class="nav-link" href="{% url 'import_session' %}">Import Menu</a>
{% endblock %}
<!-- Navbar End -->


<!-- Home Start -->
{% block home %}
<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container text-center my-0 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Add Session Menu</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center text-uppercase">
                <li class="breadcrumb-item"><a class="text-white" href="{% url 'logout' %}">Login</a></li>
                <li class="breadcrumb-item text-white" aria-current="page">Dining Hall</li>
                <li class="breadcrumb-item text-primary active" aria-current="page">Add Session Menu</li>
            </ol>
        </nav>
    </div>
</div>
{% endblock %}
<!-- Home End -->


{% block template %}
<div class="wrap">
    <h4 class="text-center m-2">ADD NEW SESSION</h4>

    {% if submitted %}
        <div class="alert alert-success" role="alert">
            Your Session Submitted Successfully
        </div>
    {% else %}
    <form action="{% url 'add_menu' %}?submitted={{ request.GET.submitted }}" method="POST" class="mx-auto col-5 col-md-4 col-lg-3 bootstrap">
            {% csrf_token %}
            <div class="form-row">
                <div>
                    {{ form_session.as_p }}
                    {{ form_time.as_p }}
                    <input type="submit" value="Submit" class="btn btn-primary">
                </div>
            </div>
        </form>
    {% endif %}
</div>
{% endblock %}
