<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DASHBOARD</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    {% load static %}
    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'styles/dashboard/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'styles/dashboard/style.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'styles/styles_dininghall_index.css' %}">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>
    <div class="container-fluid position-relative bg-white d-flex p-0">
        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="{% url 'dashboard' %}" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>DASHBOARD</h3>
                </a>
                <div class="navbar-nav w-100" id="nav">
                    <a class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}"
                        href="{% url 'dashboard' %}"><i class="fa fa-tachometer-alt me-2"></i>Home</a>
                    <a class="nav-link {% if request.resolver_match.url_name == 'edit_menu_table' %}active{% endif %}"
                        href="{% url 'edit_menu_table' %}"><i class="fa fa-edit me-2"></i>Update</a>
                    <a class="nav-link {% if request.resolver_match.url_name == 'upload_menu_file' %}active{% endif %}"
                        href="{% url 'upload_menu_file' %}"><i class="fa fa-upload me-2"></i>Upload</a>
                    <a class="nav-link {% if request.resolver_match.url_name == 'download_report' %}active{% endif %}"
                        href="{% url 'download_report' %}"><i class="fa fa-download me-2"></i>Download</a>
                    <a class="nav-link {% if request.resolver_match.url_name == 'upload_booking_file' %}active{% endif %}"
                        href="{% url 'upload_booking_file' %}"><i class="fa fa-upload me-2"></i>Upload Bookings</a>
                    <a class="nav-link {% if request.resolver_match.url_name == 'upload_live_booking_file' %}active{% endif %}"
                        href="{% url 'upload_live_booking_file' %}"><i class="fa fa-upload me-2"></i>Upload LB</a>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->

        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a href="{% url 'dashboard' %}" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <img src="../../static/images/logo.png" alt="LOGO CIT"
                    style="max-height: 2.08vw; min-height: 40px; padding-left: 1vw;">
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <span class="d-lg-inline-flex">{{email}}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <!-- <a href="#" class="dropdown-item">My Profile</a>
                            <a href="#" class="dropdown-item">Settings</a> -->
                            <a href="{% url 'logout' %}" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->

            {% block template %}
            <!-- Grafik Rata-Rata Lama Antrian per N hari-->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Rata-Rata Lama Antrian</h6>
                                <div id="textToUpdate">Data 7 Hari</div>
                                <div>
                                    <input type="number" id="inputValue" placeholder="Enter value">
                                    <button id="submitButton">Submit</button>
                                </div>
                            </div>
                            <canvas id="antrian-n-hari"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Rata-Rata Lama Antrian Dalam Setiap Sesi(Hari Ini)</h6>
                            </div>
                            <canvas id="antrian-setiap-sesi"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sales Chart End -->

            <!-- Grafik Rata-Rata Lama Antrian setiap sesi per hari-->

            <!-- Grafik Rata-Rata Lama Antrian per grup major per hari -->



            <!-- Linear Regressions START -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Linear Regression with MA (Average Queue Time)</h6>
                                <a href="">Reload</a>
                            </div>
                            <div id="regressionEquation"></div>
                            <canvas id="regressionChart"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Clustering JS</h6>
                                <a href="">Reload</a>
                            </div>
                            <canvas id="clusteringChart"></canvas>
                            <div id="iterations"></div>
                        </div>
                    </div>
                </div>
                <!-- Linear Regression END -->


            </div>

            <!-- Sales Chart Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-5">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">This Week Reservations</h6>
                                <a href="">Show All</a>
                            </div>
                            <canvas id="worldwide-sales"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-5">
                        <div class="bg-light text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Reserved & Unreserved Stats</h6>
                                <a href="">Show All</a>
                            </div>
                            <canvas id="reserved-unreserved"></canvas>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-2">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Major Chart</h6>
                            <canvas id="major-chart" style="max-height: 30rem; max-width: 30rem;"></canvas>
                        </div>
                    </div>
                </div>
                <!-- Recent Booking Start -->
                <div class="container-fluid pt-4 px-4">
                    <div class="bg-light text-center rounded p-4">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h6 class="mb-0">Recent Bookings</h6>
                            <a href="">Show All</a>
                        </div>
                        <div class="table-responsive">
                            <table class="table text-start align-middle table-bordered table-hover mb-0">
                                <thead>
                                    <tr class="text-dark">
                                        <th scope="col">User ID</th>
                                        <th scope="col">Session ID</th>
                                        <th scope="col">Recommended Time</th>
                                        <th scope="col">Created At</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for booking in recent_bookings %}
                                    <tr>
                                        <td>{{ booking.user_id }}</td>
                                        <td>{{ booking.session_id.name }}</td>
                                        <td>{{ booking.recommended_time }}</td>
                                        <td>{{ booking.created_at }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- Recent Booking End -->


            </div>
            <!-- Sales Chart End -->
            {% endblock %}

            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">Your Site Name</a>, All Right Reserved.
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                            Designed By <a href="https://htmlcodex.com">HTML Codex</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
            <!-- Content End -->

            <!-- Back to Top Button-->
            <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
        </div>
    </div>

    <!-- SCRIPTS START -->
    <!-- SCRIPTS START -->
    <script>
        let antriannChart; // Declare the chart variable globally

        function showChart() {
            // avg antrain n hari
            const antrianctx = $("#antrian-n-hari").get(0).getContext("2d");
            antriannChart = new Chart(antrianctx, {
                type: "line",
                data: JSON.parse('{{ antrian_n_hari |safe }}'),
                options: {
                    responsive: true
                }
            });
        }

        // Call the showChart function initially to render the chart
        showChart();

        // JavaScript to send an AJAX request to the Django view
        function updateChart(event) {
            // const value = event.target.value;
            const value = document.getElementById("inputValue").value;
            fetch(`dininghallupdate_text/${value}/`)
                .then(response => response.json())
                .then(data => {
                    // Update the HTML element with the new text
                    document.getElementById('textToUpdate').innerHTML = data.text;

                    if (antriannChart) {
                        antriannChart.destroy(); // Destroy the previous chart instance
                        // Optionally, you can set the variable to null if you want to ensure that no chart instance exists
                    }
                    console.log(data);
                    // avg antrain n hari
                    const antrianctx = $("#antrian-n-hari").get(0).getContext("2d");
                    antriannChart = new Chart(antrianctx, {
                        type: "line",
                        data: JSON.parse(data.data),
                        options: {
                            responsive: true
                        }
                    });
                })
                .catch(error => console.error('Error:', error));
        }

        function handleSubmit(event) {
            event.preventDefault(); // Prevent the default form submission behavior

            // Get the value entered by the user
            console.log("It's working");
            const value = document.getElementById("inputValue").value;

            // Call the updateChart function with the user-inputted value
            updateChart(value);
        }

        // Call the updateChart function when the button is clicked
        document.getElementById("submitButton").addEventListener("click", handleSubmit);
    // document.getElementById('updateButton').addEventListener('click', updateChart);
    // document.getElementById('updateButton2').addEventListener('click', updateChart);
    // document.getElementById('updateButton3').addEventListener('click', updateChart);
    </script>


    <script>
        window.onload = function () {
            showAllchart()
            showCluster()

            var xnumbersJson = '{{ x_lr | safe }}';
            var ynumbersJson = '{{ y_lr | safe }}';

            var xprednumbersJson = '{{ x_lr_p | safe }}';
            var yprednumbersJson = '{{ y_lr_p | safe }}';
            // Parse the JSON string back to an array of numbers
            var xnumb = JSON.parse(xnumbersJson);
            var ynumb = JSON.parse(ynumbersJson);

            var xpred = JSON.parse(xprednumbersJson);
            var ypred = JSON.parse(yprednumbersJson);

            developLrModel(xnumb, ynumb, xpred, ypred);
        };
        function showCluster() {
            let x_cluster = [68, 74, 87, 69, 70, 49, 72, 48, 65, 66, 69, 88, 57, 62, 63, 73, 84, 46, 96, 68, 52, 65, 92, 43, 76, 83, 87, 77, 68, 80, 60, 73, 55, 81, 57, 76, 74, 87, 56, 88, 62, 75, 58, 96, 68, 51, 59, 47, 85, 61];
            let y_cluster = [22.5, 21.5, 19.6, 20.3, 18.3, 22.4, 20.4, 18.8, 21.6, 19.1, 20.3, 18.3, 22.5, 19.6, 20.2, 18.2, 19.4, 22.5, 18.5, 20.6, 22.1, 19.1, 18.6, 22.1, 19.2, 18.8, 19.2, 20.3, 20.3, 19.2, 21.1, 18.3, 22.6, 18.7, 22.2, 19.3, 20.4, 19.5, 21.2, 18.4];

            let k = 3;
            developClusteringModel(x_cluster, y_cluster, k);
        }

        function showAllchart() {
            // avg antrain n hari setiap sesi
            var ctx2 = $("#antrian-setiap-sesi").get(0).getContext("2d");
            var myChart2 = new Chart(ctx2, {
                type: "bar",
                data: JSON.parse('{{ antrian_per_sesi |safe }}'),
                options: {
                    responsive: true
                }
            });

            // Worldwide Sales Chart
            var ctx1 = $("#worldwide-sales").get(0).getContext("2d");
            var myChart1 = new Chart(ctx1, {
                type: "bar",
                data: JSON.parse('{{ bar_data|safe }}'),
                options: {
                    responsive: true
                }
            });

            // Salse & Revenue Chart
            var ctx2 = $("#reserved-unreserved").get(0).getContext("2d");
            var myChart2 = new Chart(ctx2, {
                type: "line",
                data: JSON.parse('{{ line_data|safe }}'),
                options: {
                    responsive: true
                }
            });

            // Major Chart
            var ctx5 = $("#major-chart").get(0).getContext("2d");
            var myChart5 = new Chart(ctx5, {
                type: "pie",
                data: JSON.parse('{{ major_data|safe }}'),

                options: {
                    responsive: true
                }
            });
        }
    </script>

    <!-- Template Javascript -->
    {% load static %}


    <script src="{% static '../../../../static/js/dashboard/lr.js' %}"></script>
    <script src="{% static '../../../../static/js/dashboard/kmeans.js' %}"></script>
    <script src="{% static '../../../../static/js/dashboard/lib/chart/chart.min.js' %}"></script>
    <script src="{% static '../../../../static/js/dashboard/lib/easing/easing.min.js' %}"></script>
    <script src="{% static '../../../../static/js/dashboard/lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static '../../../../static/js/dashboard/lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static '../../../../static/js/dashboard/lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static '../../../../static/js/dashboard/lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script
        src="{% static '../../../../static/js/dashboard/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>
    <script src="{% static '../../../../static/js/dashboard/main.js' %}"></script>
    {% block script %}
    {% endblock %}
</body>

</html>