{% extends "../base.html" %}

{% block title %} Welcome Dining Hall {% endblock %}

{% block navbar %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'dininghall_index' %}">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'add_menu' %}">Add Menu</a>
</li>
{% endblock %}

{% block template %}
<div class="wrap">
    <div class="table-responsive">
        <table class="table table-striped-columns w-50 text-center mx-auto mt-3">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Session</th>
                    <th scope="col">Menu</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in menu_objects %}
                <tr>
                    <td>{{ obj.date }}</td>
                    <td>{{ obj.session }}</td>
                    <td>{{ obj.menu }}</td>
                    <td>
                        <a href="{% url 'edit_menu' obj.id %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'delete_menu' obj.id %}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
</div>
{% endblock %}