{% extends "../base.html" %}

{% block title %} Welcome Dining Hall {% endblock %}

{% block logo %}
<a class="navbar-brand" href="{% url 'edit_menu_table' %}">DINING HALL</a>
{% endblock %}

{% block styles %}
{% load static %}
    <link rel="stylesheet" href="{% static 'styles/styles_edit_menu_table.css' %}">
{% endblock %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'edit_menu_table' %}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'add_menu' %}">Add Menu</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'upload_menu_file' %}">Import Menu</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'export_order_record' %}">Export</a>
    </li>
{% endblock %}

{% block message %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block home %}
<div class="container-xxl py-5 bg-dark hero-header mb-5">
  <div class="container text-center my-0 pt-5 pb-4">
    <h1 class="display-3 text-white mb-3 animated slideInDown">Dining Hall</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb justify-content-center text-uppercase">
        <li class="breadcrumb-item"><a href="{% url 'logout' %}">Login</a></li>
        <li class="breadcrumb-item text-white active" aria-current="page">Dining Hall</li>
      </ol>
    </nav>
  </div>
</div>
{% endblock %}

{% block template %}
<div class="container">
    <h2>Table Data Dining Hall</h2>
    <!-- Add a search bar above the table -->
    <input type="text" id="searchInput" placeholder="Search...">
    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-1">Date</div>
            <div class="col col-2">Day</div>
            <div class="col col-3">Session</div>
            <div class="col col-4">Menu</div>
            <div class="col col-5">Action</div>
        </li>
        {% for session in session_objects %}
        <!-- Add a data-search attribute to each row that contains the text you want to search -->
        <li class="table-row" data-search="{{ session.date }} {{ session.date|date:'l' }} {{ session.name }} {{ session.menu }}">
            <div class="col col-1">{{ session.date }}</div>
            <div class="col col-2">{{ session.date|date:"l" }}</div>
            <div class="col col-3">{{ session.name }}</div>
            <div class="col col-4">{{ session.menu }}</div>
            <div class="col col-5">
                <button class="btn btn-primary show-more-btn">Show More</button>
                <a href="{% url 'edit_menu_manual' session.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'delete_menu' session.id %}" class="btn btn-danger">Delete</a>
                <div class="time-objects-container hide">
                    {% for time_object in time_objects %}
                        {% if time_object.0 == session.id %}
                            {% for time in time_object.1 %}
                                <div class="time-object">
                                    <span class="seat-info">For {{ time.time|date:'H:i:s' }} Available Seats: {{ time.available_seat|default:time.seat_limit }} / {{ time.seat_limit }}</span>
                                    <a href="{% url 'edit_dropdown' time.id %}" class="btn btn-primary">Edit</a>
                                    <a href="{% url 'delete_dropdown' time.id %}" class="btn btn-danger">Delete</a>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block script %}
<script>
  // Function to toggle the display of time objects when "Show More" button is clicked
  function toggleTimeObjects(event) {
    var wrapper = event.target.closest(".table-row");
    var timeObjectsContainer = wrapper.querySelector(".time-objects-container");
    wrapper.classList.toggle("show-time-objects");
  }

  // Add event listeners to "Show More" buttons
  var showMoreButtons = document.getElementsByClassName("show-more-btn");
  for (var i = 0; i < showMoreButtons.length; i++) {
    var button = showMoreButtons[i];
    button.addEventListener("click", toggleTimeObjects);
  }
</script>
<script>
    // Get the input field and the table
    var input = document.getElementById("searchInput");
    var table = document.querySelector(".responsive-table");
  
    // Add an event listener to the input field to listen for changes
    input.addEventListener("keyup", function() {
      // Get the value of the input field and convert it to uppercase
      var filter = input.value.toUpperCase();
  
      // Get all the rows in the table
      var rows = table.querySelectorAll(".table-row");
  
      // Loop through all the rows and hide those that don't match the search query
      for (var i = 0; i < rows.length; i++) {
        var txtValue = rows[i].getAttribute("data-search");
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          rows[i].style.display = "";
        } else {
          rows[i].style.display = "none";
        }
      }
    });
  </script>
{% endblock %}