{% extends "../base.html" %}

{% block title %} Welcome Dining Hall {% endblock %}

{% block logo %}
<a class="navbar-brand" href="{% url 'dininghall_index' %}">DINING HALL</a>
{% endblock %}

{% block styles %}
{% load static %}
    <link rel="stylesheet" href="{% static 'styles/styles_dininghall_index.css' %}">
{% endblock %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'dininghall_index' %}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'add_menu' %}">Add Menu</a>
    </li>
{% endblock %}

{% block message %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block template %}
<div class="container">
    <h2>Table Data Dining Hall</h2>
    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-1">Date</div>
            <div class="col col-2">Day</div>
            <div class="col col-3">Session</div>
            <div class="col col-4">Menu</div>
            <div class="col col-5">Action</div>
        </li>
        {% for session in session_objects %}
        <li class="table-row">
            <div class="col col-1">{{ session.date }}</div>
            <div class="col col-2">{{ session.date|date:"l" }}</div>
            <div class="col col-3">{{ session.name }}</div>
            <div class="col col-4">{{ session.menu }}</div>
            <div class="col col-5">
                <button class="btn btn-primary show-more-btn">Show More</button>
                <a href="{% url 'edit_menu' session.id %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'delete_menu' session.id %}" class="btn btn-danger">Delete</a>
                <div class="time-objects-container hide">
                    {% for time_object in time_objects %}
                        {% if time_object.0 == session.id %}
                            {% for time in time_object.1 %}
                                <div class="time-object">
                                    <span class="seat-info">For {{ time.time|date:'H:i:s' }} Available Seats: {{ time.available_seat|default:time.seat_limit }} / {{ time.seat_limit }}</span>
                                    <a href="{% url 'edit_dropdown' time.id %}" class="btn btn-primary">Edit</a>
                                    <a href="{% url 'delete_dropdown' time.id %}" class="btn btn-danger">Delete</a>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block script %}
<script>
  // Function to toggle the display of time objects when "Show More" button is clicked
  function toggleTimeObjects(event) {
    var wrapper = event.target.closest(".table-row");
    var timeObjectsContainer = wrapper.querySelector(".time-objects-container");
    wrapper.classList.toggle("show-time-objects");
  }

  // Add event listeners to "Show More" buttons
  var showMoreButtons = document.getElementsByClassName("show-more-btn");
  for (var i = 0; i < showMoreButtons.length; i++) {
    var button = showMoreButtons[i];
    button.addEventListener("click", toggleTimeObjects);
  }
</script>
{% endblock %}