{% extends "../dininghall/dininghall_home_page.html" %}

{% block title %} Dining Hall - Download Report {% endblock %}



{% block template %}
<style>
    h2 {
        text-align: center;
        margin-bottom: 20px;
    }
    .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    label {
        font-weight: bold;
        margin-bottom: 5px;
    }
    input[type="date"] {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }
    button[type="submit"] {
        margin-top: 20px;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        background-color: #007bff;
        color: white;
        font-weight: bold;
        cursor: pointer;
    }
</style>
<style>
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="container-xxl bg-white pe-4 px-lg-5 center">
    <div class="center">
        <div>
            <h2>DOWNLOAD REPORT</h2>
            <p class="center">Use this form to download a report for a specific date range.</p>
            <p class="center">Select the start and end dates of the range using the input fields below, then click the "Download" button to download the report.</p>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="start_range">Start Date:</label>
                    <input type="date" id="start_range" name="start_range">
                </div>
                <div class="form-group">
                    <label for="end_range">End Date:</label>
                    <input type="date" id="end_range" name="end_range">
                </div>
                <button type="submit" class="btn btn-primary">Download</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}