{% extends "../dininghall/edit_menu_table.html" %}

{% block title %} Dining Hall Import Sessions Menu {% endblock %}

{% block template %}
<div class="container-xxl bg-white pe-4 px-lg-5 center">
    <h2>UPLOAD MENU FILE</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="excel_file">Select Excel File:</label>
            <input type="file" class="form-control-file" id="excel_file" name="excel_file" accept=".xlsx">
        </div>
        <button type="submit" class="btn btn-primary">Import</button>
    </form>
</div>
{% endblock %}
