{% block template %}
<section class="wrapper">
  <!-- Row title -->
  <main class="row title">
    <ul>
      <li>Date</li>
      <li>Day</li>
      <li>Session</li>
      <li>Menu</li>
      <li>Action</li>
    </ul>
  </main>
  {% for session in session_objects %}
  <article class="row mlb">
    <ul>
      <li>{{ session.date }}</li>
      <li>{{ session.date|date:"l" }}</li>
      <li>{{ session.name }}</li>
      <li>{{ session.menu }}</li>
      <li>
          <a href="#" class="btn btn-primary">Show More</a>
          <a href="{% url 'edit_menu' obj.id %}" class="btn btn-primary">Edit</a>
          <a href="{% url 'delete_menu' obj.id %}" class="btn btn-danger">Delete</a>
      </li>
    </ul>
    <ul class="more-content">
      <li>
          {% for time in time_objects %}
              {% if time.available_seat is None %}
                  <li>{{ time.limit }}</li>
              {% else %}
                  <li>{{ time.available_seat }}</li>
              {% endif %}
                  <li>{{ time.limit_seat }}</li>
          {% endfor %}
      </li>
    </ul>
  </article>
</section>
{% endblock %}
