<div class="main">
    <ul class="cards">
      <li class="cards_item">
        <div class="card" tabindex="0">
          <div class="card_image"><img src="https://assets.codepen.io/652/photo-1468777675496-5782faaea55b.jpeg" alt="mixed vegetable salad in a mason jar. "></div>
          <div class="card_content">
            <h2 class="card_title">Breakfast</h2>
            <div class="card_text">
                <p>{{ breakfast }}</p>
            </div>
          </div>
        </div>
      </li>
  
      <li class="cards_item">
        <div class="card" tabindex="0">
          <div class="card_image"><img src="https://assets.codepen.io/652/photo-1520174691701-bc555a3404ca.jpeg" alt="a Reuben sandwich on wax paper. "></div>
          <div class="card_content">
            <h2 class="card_title">Lunch</h2>
            <div class="card_text">
                <p>{{ lunch }}</p>
            </div>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card" tabindex="0">
          <div class="card_image"><img src="https://assets.codepen.io/652/photo-1544510808-91bcbee1df55.jpeg" alt="A side view of a plate of figs and berries. "></div>
          <div class="card_content">
            <h2 class="card_title">Dinner</h2>
            <div class="card_text">
              <p>{{ dinner }}</p>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>