<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap"
    rel="stylesheet">

  <!-- Customized Bootstrap Stylesheet -->
  <link href="/static/styles/bootstrap.min.css" rel="stylesheet">


  <!-- Template Stylesheet -->
  <link href="/static/styles/style.css" rel="stylesheet">

  <link rel="stylesheet" href="static/styles/styles_login_mobile.css">
  <link rel="stylesheet" href="static/styles/styles_login.css">

</head>

<body>
  <div id="loading-screen">
    <h1 id="welcome-message">WELCOME TO CALVIN INSTITUTE OF TECHNOLOGY</h1>
  </div>

  <div class="the-login-body"></div>
  <main style="display: none;" class="shadow-white">
    <figure>
        <img src="/static/images/cit.jpg" alt="CIT" />
    </figure>
    <form action="" method="POST">
        {% csrf_token %}
        <span>
            <label for="email" class="text-small-uppercase">Email</label>
            <input class="text-body" id="email" name="email" type="email" required>
        </span>
        <span class="password-wrapper">
            <label for="password" class="text-small-uppercase password-label">Password</label>
            <input class="text-body password-input" id="password" name="password" type="password" required>
            <i class="fas fa-eye-slash password-toggle"></i>
        </span>
        <input class="text-small-uppercase" id="submit" type="submit" value="Login">
    </form>
</main>

  <script src="/static/js/login.js"></script>
</body>

</html>