{% extends "../base.html" %}

{% block title %} Welcome Dining Hall {% endblock %}

{% block logo %}
    <a class="navbar-brand" href="{% url 'sas_index' %}">SAS</a>
{% endblock %}

{% block styles %}
{% load static %}
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
    <style>
        .table-container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 20px;
        }
    </style>
{% endblock %}

{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'sas_index' %}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'import_student' %}">Import Student</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'import_class' %}">Import Class</a>
    </li>
{% endblock %}

{% block message %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
  
{% block template %}
<div class="table-container">
<div>
    <h3>User Table</h3>
    <table class="table">
    <thead>
        <tr>
        <th scope="col">No</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        </tr>
    </thead>
    <tbody>
        {% for user in user_data %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>

<div>
    <h3>Class Table</h3>
    <table class="table">
    <thead>
        <tr>
        <th scope="col">Class Code</th>
        <th scope="col">Class Name</th>
        <th scope="col">Class Day</th>
        <th scope="col">Start Time</th>
        <th scope="col">End Time</th>
        <th scope="col">Attendees</th>
        </tr>
    </thead>
    <tbody>
        {% for class in class_data %}
        <tr>
            <td>{{ class.class_code }}</td>
            <td>{{ class.class_name }}</td>
            <td>{{ class.class_day }}</td>
            <td>{{ class.class_start_time }}</td>
            <td>{{ class.class_end_time }}</td>
            <td>
                {% for attendee in class.attendees.all %}
                    {{ attendee.email }}
                    {% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
</div>
{% endblock %}  