{% extends "../base.html" %}

{% block title %} Welcome SAS Home Page {% endblock %}

{% block logo %}
<a class="navbar-brand" href="">SAS</a>
{% endblock %}

{% block styles %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/styles.css' %}">
<style>
    .table-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
</style>
{% endblock %}

{% block navbar %}
<li class="nav-item">
    <a class="nav-link active" href="{% url 'sas_index' %}">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'import_user' %}">Import User</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'import_class' %}">Import Class</a>
</li>
{% endblock %}

{% block home %}

<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container text-center my-0 pt-5 pb-4">
        {% block sashome %}
        <h1 class="display-3 text-white mb-3 animated slideInDown">Welcome to Home Page <br> <span
                class="text-primary">{{email}} </span></h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center text-uppercase">
                <li class="breadcrumb-item text-primary" aria-current="page">Home/</li>
            </ol>
        </nav>
        {% endblock %}
    </div>
</div>

{% endblock %}

{% block message %}
{% if messages %}
{% for message in messages %}
<div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endblock %}

{% block template %}
<div class="container">

    <div class="table-container">
        <div>
            <h3>User Table</h3>
            <input type="text" id="user-search" placeholder="Search">
            <table class="table" id="user-table">

                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Major</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in user_data %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.role }}</td>
                        <td>{{ user.gender }}</td>
                        <td>{{ user.major }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div>
            <h3>Class Table</h3>
            <input type="text" id="user-search" placeholder="Search">
            <table class="table" id="class-search">
                <thead>
                    <tr>
                        <th scope="col">Class Code</th>
                        <th scope="col">Class Name</th>
                        <th scope="col">Class Day</th>
                        <th scope="col">Start Time</th>
                        <th scope="col">End Time</th>
                        <th scope="col">Attendees</th>
                    </tr>
                </thead>
                <tbody>
                    {% for class in class_data %}
                    <tr>
                        <td>{{ class.class_code }}</td>
                        <td>{{ class.class_name }}</td>
                        <td>{{ class.class_day }}</td>
                        <td>{{ class.class_start_time }}</td>
                        <td>{{ class.class_end_time }}</td>
                        <td>
                            {% for attendee in class.attendees.all %}
                            {{ attendee.email }}
                            {% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}

<!-- Footer Links -->
{% block footer-link %}
<a href="{% url 'sas_index' %}" class="btn btn-link">Home</a>
<a href="{% url 'import_user' %}" class="btn btn-link">Import User</a>
<a href="{% url 'import_class' %}" class="btn btn-link">Import Class</a>
{% endblock %}


{% block script %}
<script>
    $(document).ready(function () {
        $('.alert').delay(3000).fadeOut(300);
    });
</script>

<script>
    // Search functionality for user table
    var userSearchInput = document.getElementById("user-search");
    userSearchInput.addEventListener("keyup", function () {
        performSearch("user-table", "user-search");
    });

    // Search functionality for class table
    var classSearchInput = document.getElementById("class-search");
    classSearchInput.addEventListener("keyup", function () {
        performSearch("class-table", "class-search");
    });

    // Function to handle search functionality
    function performSearch(tableId, inputId) {
        var input = document.getElementById(inputId);
        var filter = input.value.toUpperCase();
        var table = document.getElementById(tableId);
        var rows = table.getElementsByTagName("tr");

        for (var i = 0; i < rows.length; i++) {
            var cells = rows[i].getElementsByTagName("td");
            var found = false;
            for (var j = 0; j < cells.length; j++) {
                var cell = cells[j];
                if (cell) {
                    var cellText = cell.textContent || cell.innerText;
                    if (cellText.toUpperCase().indexOf(filter) > -1) {
                        found = true;
                        break;
                    }
                }
            }
            rows[i].style.display = found ? "" : "none";
        }
    }
</script>
{% endblock %}